<?xml version="1.0" encoding="UTF-8"?>
<beans bean-discovery-mode="all" version="4.0"
           xmlns="https://jakarta.ee/xml/ns/jakartaee">
       <interceptors>
            <!-- Enforces allowedRoles on tabs marked securedResource=true -->
            <class>security.InMemoryAccessCheckInterceptor</class>
        </interceptors>           
</beans>